* { /*Stjernen * betyr at det gjelder alle elementer? Bruker border-box til... noe*/ 
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;  /*store bokstaver*/
    padding: 32px;              
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;/*Gul strek under*/
  }
  
  .gallery {
    display: flex;          /*Aktiverer flex*/
    flex-direction: row;    /*Rekkefølge på bilder: row, column, row-reverse, column-reverse*/
    flex-wrap: wrap;        /*Skal bildene hoppe ned når området blir for lite? nowrap*/
    justify-content: center;/*Senterer bildene?*/
    align-items: center;    /*Sentrerer bildene?*/
    gap: 16px;              /*Avstand mellom bilder*/
    max-width: 1400px;      
    margin: 0 auto;         /*Sentrerer hele galleriet*/
    padding: 20px 10px;     
  }
  
  .gallery img {
    width: 100%;        /*Setter bildene til 100% hvis mulig*/
    max-width: 350px;   /*Bildene max-størrelse*/
    height: 300px;      /*Absolutt høyde*/
    object-fit: cover;  /*Kutter bildene*/
    border-radius: 10px;/*Runde kanter*/    
  }
  
  .gallery::after {
    /*The ::after pseudo-element creates an element that is the last child of the selected element. 
    You can use it to add an empty element after the last image. If you give it the same width as the 
    images it will push the last image to the left when the gallery is in a two-column layout. Right now, 
    it is in the center because you set justify-content: center on the flex container.*/
    content: "";
    width: 350px;
  }